#container {
  display: flex;
  justify-content: center;
}

/* filter field */

.filter {
  position: relative;
  top: 160px;
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filter .title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  padding: 20px 0 10px 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}

/* /filter field */

.checkboxField {
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.checkboxField:hover {
  background-color: #f1fcff;
}

/* /custom checkbox */

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 40px;
  width: 180px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
  top: 15px;
  width: 9px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #2196f3;
  border-bottom: 2px solid #2196f3;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* /custom checkbox */

.checkboxField label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

/* buttons */

.buttons {
  width: 504px;
  height: 50px;
}

button {
  width: 252px;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  background: #ffffff;
  border: 1px solid #dfe5ec;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0;
}

.active {
  background-color: #2196f3;
  color: #ffffff;
}

.leftButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rightButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* /buttons */

.ticketsBlock {
  position: relative;
  top: 160px;
  padding-left: 20px;
}

.tickets {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* loader */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #2196f3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

/* /loader */

.mobileMenu {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 800px) {
  .filter {
    position: absolute;
    left: -20em;
  }

  #container {
    justify-content: initial;
  }

  .ticketsBlock {
    top: 0px;
    padding-left: initial;
  }

  .mobileMenu {
    visibility: visible;
    top: 13px;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    font-size: 2.3em;
    font-weight: 600;
    z-index: 2;
    transition: 0.2s;
  }

  .mobileMenu:focus {
    background: #ffffff;
    color: black;
  }

  .mobileMenuOpened {
    width: 234px;
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0;
    background: #2196f3;
    color: #ffffff;
  }

  .mobileMenuOpened:focus {
    background: #2196f3;
    color: #ffffff;
  }

  .mobileMenu:after {
    content: "\2261";
  }

  @keyframes rollIn {
    from {
      width: 40px;
    }

    to {
      width: 232px;
    }
  }

  .mobileFilter {
    z-index: 1;
    left: initial;
    width: 232px;
    top: 45px;
    animation-duration: 0.2s;
    animation-name: rollIn;
  }
}
