@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: #F3F7FA;
  margin: 0px;
}

.aviasales {
  font-family: Open Sanse;
  margin: auto;
}

.logo {
  position: absolute;
  top: 40px;
  right: calc(50% - 60px);
  float: right;
}

@media (max-width: 800px) {
  .aviasales {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    position: initial;
  }
}

